<div class="row">
    <div class="col-md-12 padding-left-right">
      <div class="all_content_wrapper">
        <div class="allInner">
          <div class="pannelArea">
            <div class="pannelHeading">
              <h5 class="subHeading subHeadingDocSetup">location-config
                
  
                <button type="button" class="btn btn-success mr-1 addButtonCustom" (click)="update()"
                  title="Edit Employee"><i class="fas fa-edit"></i>Edit</button>
                <button type="button"  class="btn btn-primary mr-1 addButtonCustom" (click)="add()"
                 title="Add Employee"><i
                    class="fas fa-plus-circle"></i>Add</button>
  
              </h5>
            </div>
  
            <div class="employeeTable selectedTable">
                <div class="table-responsive">
                  <table
                    datatable
                    [dtOptions]="dtOptions"
                    [dtTrigger]="dtTrigger"
                    class="row-border hover"
                  ></table>
                </div>
              </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>